<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card px-6 py-6">
            <p-table
                #dt
                [value]="thesises"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="[
                    'administrator',
                    'teacher_name',
                    'thesis_name',
                    'student_name',
                    'student_programm',
                    'process1',
                    'process2',
                    'process3',
                    'process4'
                ]"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate=" {first} - {last} нийт:{totalRecords} "
                [(selection)]="selectedThesis"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-row-reverse">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Хайх..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 20px" rowspan="2">№</th>
                        <th pSortableColumn="administrator" rowspan="2">
                            Удирдагч<p-sortIcon
                                field="administrator"
                            ></p-sortIcon>
                        </th>
                        <th pSortableColumn="subject_name_mgl" rowspan="2">
                            Сэдвийн нэр
                            <p-sortIcon field="subject_name_mgl"></p-sortIcon>
                        </th>
                        <th pSortableColumn="subject_name_eng" rowspan="2">
                            Оюутаны нэр
                            <p-sortIcon field="subject_name_eng"></p-sortIcon>
                        </th>
                        <th pSortableColumn="content" rowspan="2">
                            Хөтөлбөр
                            <p-sortIcon field="content"></p-sortIcon>
                        </th>
                        <th
                            pSortableColumn="content"
                            colspan="4"
                            style="text-align: center; vertical-align: middle"
                        >
                            Оноо
                        </th>
                        <th rowspan="2"></th>
                    </tr>
                    <tr>
                        <th pSortableColumn="requirement">Явц-1</th>
                        <th>Явц-2</th>
                        <th>Урьдчилсан хамгаалалт</th>
                        <th>Жинхэнэ хамгаалалт</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-thesis
                    let-rowIndex="rowIndex"
                >
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td style="width: 25%; min-width: 10rem">
                            <span class="p-column-title" style="width: 30px"
                                >Id</span
                            >
                            {{ thesis?.teacher_name }}
                        </td>
                        <td style="width: 25%; min-width: 10rem">
                            <span class="p-column-title">Id1</span>
                            {{ thesis?.thesis_name }}
                        </td>
                        <td style="width: 25%; min-width: 10rem">
                            <span class="p-column-title">Id1</span>
                            {{ thesis?.student_name }}
                        </td>
                        <td>
                            <span *ngIf="thesis?.student_programm == '0'"
                                >Программ хангамж</span
                            >
                            <span *ngIf="thesis?.student_programm == '1'"
                                >Мэдээллийн технологи</span
                            >
                            <span *ngIf="thesis?.student_programm == '2'"
                                >Мэдээллийн систем</span
                            >
                            <span *ngIf="thesis?.student_programm == '3'"
                                >Компьютерийн ухаан</span
                            >
                        </td>
                        <td
                            style="
                                width: 25%;
                                min-width: 10rem;
                                text-align: center;
                                vertical-align: middle;
                            "
                        >
                            <span class="p-column-title">Id1</span>
                            {{ thesis?.process1 }}
                        </td>
                        <td
                            style="
                                width: 25%;
                                min-width: 10rem;
                                text-align: center;
                                vertical-align: middle;
                            "
                        >
                            <span class="p-column-title">Description</span>
                            {{ thesis?.process2 }}
                        </td>
                        <td
                            style="
                                width: 25%;
                                min-width: 8rem;
                                text-align: center;
                                vertical-align: middle;
                            "
                        >
                            <span class="p-column-title">Price</span>
                            {{ thesis?.process3 }}
                        </td>
                        <td
                            style="
                                width: 25%;
                                min-width: 8rem;
                                text-align: center;
                                vertical-align: middle;
                            "
                        >
                            <span class="p-column-title">Price</span>
                            {{ thesis?.process4 }}
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-primary mr-2"
                                    (click)="editProcess(thesis)"
                                ></button>
                                <button
                                    *ngIf="isShowPButton"
                                    pButton
                                    pRipple
                                    icon="pi pi-folder-open"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="openProcess(thesis)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog
            [(visible)]="showProcessDialog"
            [style]="{ width: '450px' }"
            header="Явц-1-ын үнэлгээг оруулна уу?"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <p-inputNumber
                        id="process1"
                        [(ngModel)]="thesis.process1"
                        placeholder="хамгийн ихдээ 15 хүртэлх үнэлгээ өгнө"
                        required
                        autofocus
                        [min]="0"
                        [max]="15"
                        [maxlength]="2"
                    />
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Цуцлах"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Хадгалах"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveProcessOne(1)"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="showProcessAllDialog"
            [style]="{ width: '450px' }"
            header="Явцын үнэлгээг оруулна уу?"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <span>Явц-2-ын үнэлгээ</span>
                <div class="field mt-2">
                    <p-inputNumber
                        id="process2"
                        [(ngModel)]="thesis.process2"
                        placeholder="хамгийн ихдээ 20 хүртэлх үнэлгээ өгнө"
                        required
                        autofocus
                        [min]="0"
                        [max]="20"
                        [maxlength]="2"
                    />
                </div>
                <div class="field">
                    <span>Урьдчилсан хамгаалалтын үнэлгээ</span>
                    <div class="field mt-2">
                        <p-inputNumber
                            id="process3"
                            [(ngModel)]="thesis.process3"
                            placeholder="хамгийн ихдээ 25 хүртэлх үнэлгээ өгнө"
                            required
                            autofocus
                            [min]="0"
                            [max]="25"
                            [maxlength]="2"
                        />
                    </div>
                </div>
                <div class="field">
                    <span>Жинхэнэ хамгаалалтын үнэлгээ</span>
                    <div class="field mt-2">
                        <p-inputNumber
                            id="process4"
                            placeholder="хамгийн ихдээ 40 хүртэлх үнэлгээ өгнө"
                            [(ngModel)]="thesis.process4"
                            required
                            autofocus
                            [min]="0"
                            [max]="40"
                            [maxlength]="2"
                        />
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Цуцлах"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Хадгалах"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveProcessOne(2)"
                ></button>
            </ng-template>
        </p-dialog>
        <!-- Techer show student Process -->
        <p-dialog
            [(visible)]="showProcessTeacher"
            [style]="{ width: '600px', height: '800px' }"
            header="Оюутаны илгээсэн PDF файл"
            [modal]="true"
            class="p-fluid"
        >
            <div class="card">
                <p-table
                    [value]="processDetail"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    selectionMode="single"
                    [(selection)]="selectedDetail"
                    (onRowSelect)="onRowSelect($event)"
                    dataKey="id"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 20px">№</th>
                            <th>Нэр</th>
                            <th>Огноо</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-processDetail
                        let-rowIndex="rowIndex"
                    >
                        <tr [pSelectableRow]="processDetail">
                            <td style="width: 10%">{{ rowIndex + 1 }}</td>
                            <td>{{ processDetail.file_name }}</td>
                            <td>{{ processDetail.created }}</td>
                            <td>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-eye"
                                    class="p-button-rounded mr-2 p-button-primery"
                                    (click)="ViewPdf(processDetail)"
                                ></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card">
                <p-editor
                    [(ngModel)]="text"
                    [style]="{ height: '320px' }"
                ></p-editor>
                <div class="flex flex-row-reverse my-2">
                    <div style="min-width: 30px">
                        <button
                            pButton
                            pRipple
                            class="p-button-rounded mr-2 p-button-primery"
                            (click)="sentFeedback()"
                        >
                            Хадгалах
                        </button>
                    </div>
                </div>
            </div>
        </p-dialog>
        <p-dialog
            [(visible)]="showRegDialog"
            [style]="{ width: '90%', height: '90%' }"
            header="Миний илгээсэн хүсэлтүүд"
            [modal]="true"
            class="p-fluid"
        >
            <iframe
                *ngIf="pdfUrl"
                [src]="pdfUrl"
                style="width: 100%; height: 100%"
                frameborder="0"
            ></iframe>
        </p-dialog>
    </div>
</div>
