<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <!-- <p-toolbar styleClass="d-flex flex-row-reverse bg-white">
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Дипломын сэдэв дэвшүүлэх"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Устгах"
                            icon="pi pi-trash"
                            class="p-button-danger"
                            (click)="deleteThesiss()"
                            [disabled]="
                                !selectedThesis || !selectedThesis.length
                            "
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar> -->
            <p-table
                #dt
                [value]="thesises"
                [columns]="cols"
                styleClass="p-datatable-gridlines"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="[
                    'teacher_name',
                    'subject_mgl',
                    'subject_eng',
                    'content',
                    'requirement'
                ]"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate=" {first} - {last} нийт:{totalRecords} "
                [(selection)]="selectedThesis"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <!-- <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Миний дэвшүүлсэн сэдвүүд</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Хайх..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <!-- <th pSortableColumn="teacher_name">
                            Удирдагч<p-sortIcon
                                field="teacher_name"
                            ></p-sortIcon>
                        </th> -->
                        <th style="width: 5rem"></th>
                        <th pSortableColumn="subject_name_mgl">
                            Сэдвийн нэр (Монгол)
                            <p-sortIcon field="subject_name_mgl"></p-sortIcon>
                        </th>
                        <th pSortableColumn="subject_name_eng">
                            Сэдвийн нэр (Англи)
                            <p-sortIcon field="subject_name_eng"></p-sortIcon>
                        </th>
                        <th pSortableColumn="content">
                            Агуулга
                            <p-sortIcon field="content"></p-sortIcon>
                        </th>
                        <th pSortableColumn="requirement">
                            Шаардлага
                            <p-sortIcon field="requirement"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">
                            Ирсэн хүслэлтын тоо
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-thesis
                    let-expanded="expanded"
                >
                    <tr>
                        <!-- <td>
                            <p-tableCheckbox [value]="thesis"></p-tableCheckbox>
                        </td> -->
                        <td>
                            <button
                                type="button"
                                pButton
                                pRipple
                                [pRowToggler]="thesis"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="
                                    expanded
                                        ? 'pi pi-chevron-down'
                                        : 'pi pi-chevron-right'
                                "
                            ></button>
                        </td>
                        <td style="width: 25%; min-width: 10rem">
                            <span class="p-column-title">Id</span>
                            {{ thesis?.mgl_name }}
                        </td>
                        <td style="width: 25%; min-width: 10rem">
                            <span class="p-column-title">Description</span>
                            {{ thesis?.eng_name }}
                        </td>
                        <td style="width: 25%; min-width: 8rem">
                            <span class="p-column-title">Price</span>
                            {{ thesis?.content }}
                        </td>
                        <td style="width: 25%; min-width: 8rem">
                            <span class="p-column-title">Price</span>
                            {{ thesis?.requirement }}
                        </td>
                        <!-- <td style="width: 25%; min-width: 8rem">
                            <span class="p-column-title">Price</span>
                            <ng-container
                                *ngIf="thesis?.status == 2; else otherStatus"
                            >
                                <span>Баталгаажсан</span>
                            </ng-container>
                            <ng-template #otherStatus>
                                <ng-container
                                    *ngIf="
                                        thesis?.status == 0;
                                        else nonConfirmed
                                    "
                                >
                                    <span>Цуцлагдсан</span>
                                </ng-container>
                            </ng-template>
                            <ng-template #nonConfirmed>
                                <span>Хүлээгдэж байна</span>
                            </ng-template>
                        </td> -->
                        <!-- <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editThesis(thesis)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteThesis(thesis)"
                                ></button>
                            </div>
                        </td> -->
                        <td></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-thesis>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table
                                    [value]="thesis.applied_studets"
                                    dataKey="id"
                                >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="id">
                                                Оюутаны нэр
                                                <p-sortIcon
                                                    field="price"
                                                ></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="customer">
                                                Хөтөлбөр
                                                <p-sortIcon
                                                    field="customer"
                                                ></p-sortIcon>
                                            </th>
                                            <th style="width: 4rem"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-request>
                                        <tr>
                                            <td>{{ request.lname }}</td>
                                            <td>
                                                <span
                                                    *ngIf="
                                                        request?.programm == '0'
                                                    "
                                                    >Программ хангамж</span
                                                >
                                                <span
                                                    *ngIf="
                                                        request?.programm == '1'
                                                    "
                                                    >Мэдээллийн технологи</span
                                                >
                                                <span
                                                    *ngIf="
                                                        request?.programm == '2'
                                                    "
                                                    >Мэдээллийн систем</span
                                                >
                                                <span
                                                    *ngIf="
                                                        request?.programm == '3'
                                                    "
                                                    >Компьютерийн ухаан</span
                                                >
                                            </td>
                                            <td>
                                                <div class="flex">
                                                    <button
                                                        pButton
                                                        pRipple
                                                        icon="pi pi-times"
                                                        class="p-button-rounded p-button-success mr-2"
                                                        (click)="
                                                            unConfirmRequest(
                                                                thesis
                                                            )
                                                        "
                                                    ></button>
                                                    <button
                                                        pButton
                                                        pRipple
                                                        icon="pi pi-check"
                                                        class="p-button-rounded p-button-warning"
                                                        (click)="
                                                            comfirmReguest(
                                                                thesis,
                                                                request
                                                            )
                                                        "
                                                    ></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">
                                                Энэ сэдэв дээр одоогоор илгээсэн
                                                хүсэлт байхгүй байна.
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog
            [(visible)]="thesisDialog"
            [style]="{ width: '450px' }"
            header="Дипломын сэдэв дэвшүүлэх"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="subject_name_mgl">Сэдвийн нэр Монгол</label>
                    <input
                        type="text"
                        pInputText
                        id="subject_name_mgl"
                        [(ngModel)]="thesis.mgl_name"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !thesis.mgl_name
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !thesis.mgl_name"
                        >Сэдвийн Монгол нэр хоосон байна.</small
                    >
                </div>
                <div class="field">
                    <label for="subject_name_eng">Сэдвийн нэр Англи</label>
                    <input
                        type="text"
                        pInputText
                        id="subject_name_eng"
                        [(ngModel)]="thesis.eng_name"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !thesis.eng_name
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !thesis.eng_name"
                        >Сэдвийн Англи нэр хоосон байна.</small
                    >
                </div>
                <div class="field">
                    <label for="content">Агуулга</label>
                    <textarea
                        id="content"
                        pInputTextarea
                        [(ngModel)]="thesis.content"
                        required
                        rows="3"
                        cols="20"
                    ></textarea>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !thesis.content"
                        >Агуулга хоосон байна.</small
                    >
                </div>
                <div class="field">
                    <label for="requirement">Шаардлага</label>
                    <textarea
                        id="content"
                        pInputTextarea
                        [(ngModel)]="thesis.requirement"
                        required
                        rows="3"
                        cols="20"
                    ></textarea>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !thesis.requirement"
                        >Шаардлага хоосон байна.</small
                    >
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Цуцлах"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Хадгалах"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveThesis(true)"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
