<div class="grid">
    <div class="col-4">
        <div class="flex flex-row card px-0">
            <div class="col">
                <span>Удирдагч Багш</span>
                <div class="flex flex-row card my-2 py-3">
                    {{ thesis?.teacher_name }}
                </div>
            </div>
            <div class="col">
                <span>Сэдвийн нэр</span>
                <div class="flex flex-row card my-2 py-3">
                    {{ thesis?.thesis_name }}
                </div>
            </div>
        </div>
        <div class="flex flex-column card">
            <div class="row mb-3 font-medium text-lg">Үнэлгээ</div>
            <div class="flex flex-row justify-content-between card py-3">
                <span>Явц-1</span>

                <div class="row">{{ thesis?.process1 }}</div>
            </div>
            <div class="flex flex-row justify-content-between card py-3">
                <span>Явц-2</span>

                <div class="row">{{ thesis?.process2 }}</div>
            </div>
            <div class="flex flex-row justify-content-between card py-3">
                <span>Урьдчилсан хамгаалалт</span>

                <div class="row">{{ thesis?.process3 }}</div>
            </div>
            <div class="flex flex-row justify-content-between card py-3">
                <span>Жинхэнэ хамгаалалт</span>

                <div class="row">{{ thesis?.process4 }}</div>
            </div>
            <div class="flex flex-row justify-content-between card py-3">
                <span>Дүн</span>

                <div class="row">
                    {{
                        thesis.process1 +
                            thesis.process2 +
                            thesis.process3 +
                            thesis.process4
                    }}
                </div>
            </div>
        </div>
        <div class="row text-center">
            <p-fileUpload
                styleClass="w-full py-8"
                mode="basic"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept=".pdf,application/pdf"
                (onUpload)="onBasicUploadAuto($event)"
                [auto]="true"
                chooseLabel="Upload File"
            ></p-fileUpload>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <p-table
                [value]="processDetail"
                [tableStyle]="{ 'min-width': '50rem' }"
                selectionMode="single"
                [(selection)]="selectedDetail"
                (onRowSelect)="onRowSelect($event)"
                dataKey="feedback"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 20px">№</th>
                        <th>Нэр</th>
                        <th>Огноо</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-processDetail
                    let-rowIndex="rowIndex"
                >
                    <tr [pSelectableRow]="processDetail">
                        <td style="width: 10%">{{ rowIndex + 1 }}</td>
                        <td>{{ processDetail.file_name }}</td>
                        <td>{{ processDetail.created }}</td>
                        <td>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-eye"
                                class="p-button-rounded mr-2 p-button-primery"
                                (click)="ViewPdf(processDetail)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card">
            <p-editor
                [(ngModel)]="text"
                [style]="{ height: '320px' }"
            ></p-editor>
        </div>
    </div>
    <p-dialog
        [(visible)]="showRegDialog"
        [style]="{ width: '90%', height: '90%' }"
        header="Миний илгээсэн хүсэлтүүд"
        [modal]="true"
        class="p-fluid"
    >
        <iframe
            *ngIf="pdfUrl"
            [src]="pdfUrl"
            style="width: 100%; height: 100%"
            frameborder="0"
        ></iframe>
    </p-dialog>
</div>
